<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
.navbar {
        border: 4px solid rgb(179, 217, 255);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
        border-radius: 8px;
        background-color: #5A4BDA;
        font-family: 'Raleway', sans-serif;


   }
   h1{
    letter-spacing: 3px;

   }
   .alert
   {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
   }
</style>
<body>
    <nav hover="" class="navbar">
        <h1  value="ghj"> <a href="third_page" style="text-decoration:none ; color:white">Home</a></h1>
        <!-- <div class="Home">
            <span>Home</span>
        </div> -->
        <div class="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg> &nbsp; <a href="notify" style="text-decoration:none; color:white">Alert/Notifications</a>
        </div>
        </nav>
</body>
</html>